footer {
    display: flex;
    justify-content: center;
}

article {
    border-radius: 12px;
}

button {
    border-radius: 12px;
}

button.slds-button_success {
    color: white;
    background-color: #3ca454;
    border-color: none;
    width: fit-content;
}

li {
    display: flex;
    justify-content: left;
}

.custom-image {
    border-radius: 80px;
}