div.slds-modal__container {
    --slds-c-modal-radius-border: 12px;
}

footer {
    display: flex;
    justify-content: space-between;
}

button.slds-button {
    border-radius: 12px;
    height: 40px;
}

button.slds-button_neutral {
    width: 100px;
    color: #5C5C5C;
    border-color: #C9C9C9;
}

button.slds-button_brand {
    width: 120px;
    border-color: #3ca454;
    background-color: #3ca454;
}

button.slds-button_brand:hover {
    background-color: #30844c;
    border-color: #30844c;
}

div.custom-box {
    border-radius: 12px;
    height: 40px;
}

span.custom-name-title {
    margin-left: 10px;
}

div.slds-size_1-of-7 {
    display: flex;
    justify-content: center;
    height: 63px;
    align-items: end;
}

.red-icon{
    --sds-c-icon-color-foreground-default: red;
}

div.slds-size_1-of-1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.slds-size_1-of-2 {
    margin-bottom: 50px;
    --sds-c-input-radius-border: 12px;
    --slds-c-input-color-border: #C9C9C9;
    --slds-c-input-spacing-horizontal-start: 20px;
}

div.slds-combobox {
    height: 60px;
    align-items: center;
}

div.slds-listbox {
    --sds-c-input-radius-border: 12px;
}